page-devices {

}
#devices{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.device{
    width: 75%;
}
/deep/.button-inner{
    display: flex;
    justify-content: space-around;
}
.hostname{
    flex-grow: 1;
}

.dev-element{
    box-shadow: none;
    border-radius: 0;
}
